<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heroes
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">
  <ion-card class="card" *ngFor="let hero of heroes">
    <ion-card-header>
      <img src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}" />
      <!-- <img [src]="hero.thumbnail.path" /> -->
      <ion-card-title>{{ hero.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ hero.description }}
    </ion-card-content>
  </ion-card>
</div>