<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heroes
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">
  <ion-spinner *ngIf="!heroes" name="crescent" class="spinner"></ion-spinner>  
  <ion-card class="card" *ngFor="let hero of heroes">
    <ion-card-header>
      <img src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}" />
      <div class="card-title">
        <ion-card-title>{{ hero.name }}</ion-card-title>
        <ion-icon size="small" name="chevron-down-outline" class="icon-button" (click)="toggleBio()"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content *ngIf="bio">
      {{ hero.description }}
    </ion-card-content>
  </ion-card>
</div>